.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.item {
  background: #ededed;
  height: 15px;
  width: 15px;
}
.item.little {
  background: #acd5f2;
}
.item.medium {
  background: #7fa8c9;
}
.item.big {
  background: #527ba0;
}
.item.large {
  background: #254e77;
}

.tooltip {
  position: relative;
  display: inline-block;
  visibility: hidden;
  width: 145px;
  background-color: #000000;
  border-radius: 3px;
  text-align: center;
}

/* Tooltip text */
.tooltip .tooltiptext {
  color: #ffffff;
  padding: 5px 0;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip .tooltipdate {
  color: #7c7c7c;
  padding: 5px 0;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext .tooltipdate {
  visibility: visible;
}
